* {
  margin: 15px;
}

.main {
  flex-direction: column;
}

.title {
  color: rgb(24, 124, 114);
  font-size: 20px;
  height: 75px;
  justify-content: center;
  text-align: center;
}

.form_container {
  border-radius: 11px;
  box-shadow: 8px 4px 19px rgba(0, 0, 0, 0.9);
  color: rgb(18, 103, 95);
  flex-direction: column;
  height: 380px;
  justify-content: flex-start;
  padding: 30px;
  width: 270px;
}

form {
  flex-direction: column;
  font-size: 10px;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin-top: 30px;
}

.right h1 {
  color: rgb(24, 124, 114);
  font-size: 23px;
}

.card_container {
  border-radius: 11px;
  box-shadow: 8px 4px 19px rgba(0, 0, 0, 0.9);
  color: rgb(18, 103, 95);
  flex-direction: column;
  height: 380px;
  justify-content: flex-start;
  padding: 30px;
  width: 270px;
}

.left h1 {
  color: rgb(24, 124, 114);
  font-size: 23px;
}

.save {
  background-color: rgb(24, 124, 114);
  border-radius: 8px;
  color: aliceblue;
  padding: 3px;
  width: 100px;
}

.delete {
  background-color: rgb(24, 124, 114);
  border-radius: 8px;
  color: aliceblue;
  padding: 3px;
  width: 100px;
}

.newCards {
  flex-wrap: wrap;
}

ul {
  display: flex;
}

.cards {
  display: flex;
  justify-content: center;
  text-align: center;
}

input {
  margin: 10px;
}

.nome {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.description {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.attr1 {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.attr2 {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.attr3 {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.image {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.rare {
  display: flex;
  font-size: 15px;
  margin: 1px;
}

.trunfo {
  display: flex;
  font-size: 15px;
  margin: 1px;
}
